body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url("pic.png");
    background-size: 750px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  header {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  h1 {
    margin: 0;
    font-size: 32px;
    letter-spacing: 2px;
    text-transform:capitalize;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 18px;
    transition: transform 0.3s ease-in-out;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .box:hover {
    transform: translateY(-5px);
  }

  .card-container {
    display: none;
  }

  .box.active .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .card:hover {
    transform: translateY(-5px);
  }
